.add {
  width: 142px;
  padding-left: 200px;
}

@media only screen and (max-width: 1100px) {
  .add {
    width: 50px;
    margin-left: -100px;
    display: none;
  }
}

.speech {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  padding-left: 450px;
  margin-right: 400px;
  color: #949494;
}

@media only screen and (max-width: 1100px) {
  .speech {
    font-size: 8px;
    margin-left: -300px;
    margin-top: -500px;
    margin-right: 600px;
  }
}

.add__close {
  width: 142px;
  padding-left: 1400px;
}

@media only screen and (max-width: 1100px) {
  .add__close {
    margin-left: -850px;
    margin-top: -500px;
    width: 50px;
  }
}

.line-2 {
  width: 140px;
  padding-left: 800px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  padding-left: 680px;
  padding-top: 35px;
  color: #333333;
}

@media only screen and (max-width: 1100px) {
  h4 {
    margin-left: -470px;
    font-size: 10px;
  }
}

.line {
  width: 140px;
  padding-top: 600px;
  padding-left: 800px;
}

.blockq {
  background-color: $main;
}
