.container {
  @include flex;
  border-color: $main;
}

.container__adress {
  padding-left: 238px;
  padding-top: 11px;

  .adress__logo {
    width: 14px;
  }

  .adress__refuge {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    padding-left: 9px;
    color: #333333;
  }
}

.nav__list {
  padding-left: 106px;
  padding-top: 13px;
  display: flex;

  .nav__phone-logo {
    width: 13px;
  }

  .nav__phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding-left: 9px;
    color: #333333;
  }

  .nav__phone-number:hover {
    color: #ffbd54;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }

  .nav__point {
    width: 4px;
    padding-left: 9px;
    padding-bottom: 3px;
  }

  .nav__phone-second {
    padding-left: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
  }

  .nav__phone-second:hover {
    color: #ffbd54;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
}

.container__time-calendar {
  width: 14px;
  padding-left: 98px;
  padding-top: 20px;

  .container__weekend {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #333333;
  }
}

@media only screen and (max-width: 1100px) {
  .container__adress {
    margin-left: -250px;
    font-size: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 1100px) {
  .nav__list {
    margin-left: -3 0px;
    font-size: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 1100px) {
  .nav__phone-second {
    font-size: 5px;
    justify-content: center;
  }
}

@media only screen and (max-width: 1100px) {
  .container__weekend {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.main__container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 8.37%;
  background: $white;
  border: 1px solid #f3f3f3;

  .header__logo {
    position: absolute;
    margin-left: 45px;
    width: 178px;
  }
}

.main__fish {
  width: 15px;
}

.main__list {
  @include flex;
  margin-left: 338px;
}

.main__pet {
  width: 23px;
  margin-left: 163px;
  padding-top: 15px;
}

.main__li {
  margin-left: 55px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.main__li-FAQ {
  padding-left: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.asking {
  padding-left: 195px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  color: #333333;
  margin-top: -25px;
}

@media only screen and (max-width: 110px) {
  .main__container {
    top: 9.37%;
  }
}

@media only screen and (max-width: 1100px) {
  .main__list {
    margin-left: 120px;
  }
}
