.Mask {
  margin-top: 235px;
}

.development {
  margin-top: -450px;
  margin-left: -300px;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

input {
  color: #949494;
  width: 166px;
  font-size: 16px;
  border: 1px #ffffff;
  width: 335px;
  height: 50px;
  margin-top: 50px;
  margin-left: 400px;
}

.subscribe-2 {
  margin-left: 21px;
  margin-top: 50px;
  background: #333333;
  border-radius: 3px;
  position: absolute;
  border: 1px #333333;
  width: 188px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.subscribe-2:hover {
  color: #000;
  background-color: #ffffff;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
}

.read {
  box-sizing: border-box;
  margin-top: 700px;
  position: absolute;
  width: 305px;
  height: 435px;
  left: 71px;
  top: 2951px;
  background: #fefefe;
  border: 1px solid #e4e4e2;
  border-radius: 5px;
}

.cute-dog {
  width: 613px;
  margin-left: 900px;
  margin-top: -280px;
}
